<header class="bg-dark-subtle sticky-top text-center mb-5">
        <nav class="container navbar navbar-expand-lg" style="overflow: visible;">
            <a href="/" class="w-25">
                <img src="/SuCoS-badge.svg" height="80px" width="80px" alt="SuCoS badge"
                    class="position-absolute top-0 start-0" style="" />
            </a>
            <span></span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar"
                aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-expand-lg" id="topNavbar">
                <ul class="container navbar-nav bd-navbar-nav">
                    {% for link in site.Params.MainMenu %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ link.url }}">{{ link.label }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <button type="button" class="btn btn-light"
                    onclick='window.open("https://gitlab.com/sucos/sucos/-/releases", "_blank");'>Download</button>

                <!-- Social Networks-->
                <ul class="navbar-nav bd-navbar-nav">
                    <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                        <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                        <hr class="d-lg-none my-2 text-white-50">
                    </li>
                    {% for socialNetwork in site.Params.SocialNetworks %}
                    <li class="nav-item">
                        <a rel="me" class="nav-link" href="{{ socialNetwork.url }}" id="link-{{ socialNetwork.id }}">
                            <i class=" bi {{ socialNetwork.icon_class }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </header>
