
    <footer class="text-center py-3 bg-dark-subtle">
        <p><span class="">Made with <a href="https://SuCoS.brunomassa.com"><img src="/SuCoS-logo.svg" height="16px" width="100px"
                alt="SuCoS badge" /></a>.</span>
        <em>{{ site.Params.Footer }}</em></p>

        <p>
            Site updated in {{ "now" | date: "%Y-%m-%d %H:%M" }} / <i>v{{ sucos.Version }}</i>
        </p>

        <p><span>The SuCoS logos are copyright ® {{ site.Copyright }} 2023-{{ "now" | date: "%Y" }}</span></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.Params.GoogleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.Params.GoogleAnalytics }}');
    </script>
