* {
    line-height: 1.75rem;
    --borderColor-default: #3d444d;
    --borderColor-accent-emphasis: #1f6feb;
    --fgColor-accent: #4493f8;
    --borderColor-accent-warning: #9e6a03;
    --fgColor-attention: #d29922;
    --borderColor-accent-important: #8957e5;
    --fgColor-important: #ab7df8;
}

body ol,
body ul {
    padding-left: 1rem;
}

article {
    margin-bottom: 4em;
}


.bg-gradient-green {
    background: linear-gradient(90deg, #0e963e, #0e8343);
}

.bg-gradient-red {
    background: linear-gradient(90deg, #f20821, #b50511);
}

.bg-gradient-purple {
    background: linear-gradient(90deg, #922d97, #5d245e);
}

.bg-gradient-yellow {
    background: linear-gradient(90deg, #ffb03a, #fd7b10);
}

.bg-gradient-orange {
    background: linear-gradient(90deg, #fe795d, #fd3e1d);
}

blockquote,
.markdown-alert {
    padding: .5em 1em;
    margin-bottom: 1em;
    color: inherit;
    border-left: .25em solid var(--borderColor-default);
}

.markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: 500;
    align-items: center;
    line-height: 1;
}

.markdown-alert.markdown-alert-note {
    border-left-color: var(--borderColor-accent-emphasis);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--fgColor-accent);
}

.markdown-alert.markdown-alert-note .markdown-alert-title svg {
    fill: var(--fgColor-accent);
}

.markdown-alert.markdown-alert-warning {
    border-left-color: var(--borderColor-accent-warning);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: var(--fgColor-attention);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title svg {
    fill: var(--fgColor-attention);
}

.markdown-alert.markdown-alert-important {
    border-left-color: var(--borderColor-accent-important);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
    color: var(--fgColor-important);
}

.markdown-alert.markdown-alert-important .markdown-alert-title svg {
    fill: var(--fgColor-important);
}
